<div class="cuerpo-de-lista">
  <section class="row mx-auto text-center" *ngIf="estado">
			<div *ngFor="let personajes of personajesJson; let ultimoIndice = last" class="pt-3 col-lg-2 col-md-2 col-sm-2 text-center card border border-dark rounded shadow p-3 m-3 color">
        <a [routerLink]="['/personaje', personajes.id]" routerLinkActive="active"   >
          <div class="mx-auto ampliar">
            <img  class="img-personaje rounded-circle" src="{{personajes.image}}"  >
          </div>
        </a>
          <div class="mx-auto">
            <h5 (click)="returnpagina()">{{personajes.name}}</h5>
          </div>
      </div>

  </section>

  <app-lista-personajes-next></app-lista-personajes-next>


  <nav>
    <div class="col-lg-12">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled" id="prev"><a class="page-link"  (click)="returnpagina()" >Previous</a></li>
        <li class="page-item" id="next"><a class="page-link"   (click)="nextpagina(); botonprevnext()" >next</a></li>
      </ul>
    </div>
  </nav>
</div>
