<div class="cuerpo-de-lista">
   <section class="row mx-auto text-center">
			<div *ngFor="let personajes of personajesJson; let ultimoIndice = last" class="pt-3 col-lg-2 col-md-2 col-sm-2 text-center card border border-dark rounded shadow p-3 m-3 color">
        <a href="{{ personajes.url }}" >
          <div class="mx-auto ampliar">
            <img  class="img-personaje rounded-circle"src="{{personajes.image}}">
          </div>
        </a>
          <div class="mx-auto">
            <h5>{{personajes.name}}</h5>
          </div>
      </div>
  </section>

</div>
